  <footer>    
    <div class="logo">
      <img class="logo-40" src="./images/logo-40.png" />
      <img src="../images/logo.png" />      
    </div>      
    <div class="tagline">Planting Seeds For A Brighter Future</div>
    <div class="copyright">Copyright &copy; <%= new Date().getFullYear(); %> Hindu Youth Association. All rights reserved. Registered charity no. 1142405</div>
  </footer>  
  <script src="/javascripts/script.js"></script>
</body>
</html>