<%- include('head.ejs'); %>

<header>
  <div class="header-wrapper">
    <a href="/">
      <div class="brand">
        <div class="logo">
          <img src="./images/logo.png" />
        </div>
        <div class="brand-wrapper">
          <span class="brand-title">Hindu Youth Association</span>
          <span class="tagline">Planting Seeds For A Brighter Future</span>
        </div>
      </div>
    </a>
    <%- include('nav.ejs'); %>
    <span class="nav-dropdown"></span>    
  </div>  
</header>