<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= data.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Hindu Youth Association - Supplementary classes in English, Maths, Gujarati and Yoga in the Royal Borough of Greenwich." />  
  <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="<%= data.page %>">  