<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About HYA</a></li>
    <li><a href="/keydates">Key Dates</a></li>
    
  </ul>
  <div class="social">
    <a href="https://www.facebook.com/hyauk1" target="_blank" class="facebook"></a>
    <a href="mailto:info@hyauk.org" class="email"></a>
  </div>
</nav>