html {
  scroll-behavior: smooth;
}

body {    
  font: 300 $font-size-default $font-family-default;
  color: $color-text;
  margin: 0 auto;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: $color-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 500;  
  margin: 0;    
}

p {
  &:first-of-type {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: $margin-md;
  line-height: 1.5;
}

.title {
  color: $color-secondary;  
}

img {
  max-width: 100%;
}

.tagline {
  font-family: 'Caveat', cursive;
}

.main {
  p:first-of-type {
    font-weight: normal;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@include breakpoint(tablet) {
  .content {
    padding: $margin-lg;
  }
}

@include breakpoint(desktop) {
  .content {
    max-width: $width-desktop;
    margin: 0 auto;
    padding: $margin-xl 0;
  }
}