footer {    
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $margin-xl;
  box-shadow: 0 -2px 3px -3px rgba(0, 0, 0, 1);
  .logo {    
    margin-bottom: $margin-default;
    img {
      width: 60px;
      padding: 8px;
      &.logo-40 {
        width: 70px;
      }
    }
  }
  .copyright {
    margin-top: $margin-default;
    font-size: $font-size-xs;
  }
}