.main-nav {
  position: absolute;
  right: 0;
  background: rgba(0,0,0,0.9);
  padding: $margin-default;
  top: 65px;
  width: 100%;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: $margin-default 0;
      a {
        color: $color-brand;
        color: white;
        font-weight: normal;
        &:hover {
          color: $color-brand;
        }
        &.active {
          color: $color-brand;
        }
      }
    }
  }    
}

@include breakpoint(tablet) {
  .main-nav {        
    background: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: $margin-md;
    padding: 0;
    top: 0;
    width: auto;
    text-align: center;
    ul {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;      
      li {
        padding: 0 $margin-default;        
      }
    }
    a {
      &:hover {
        transition: 0.3s;
      }
    }
    .social {
      a {
        display: inline-block;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-left: $margin-default;
        &.facebook {
          width: 35px;
          height: 35px;          
          background: #4c70ba url('../images/facebook.svg');          
          &:hover {
            background-color: darken(#4c70ba, 10%)
          }
        }
        &.email {
          width: 35px;
          height: 35px;
          background: $color-brand url('../images/email.svg') no-repeat center;          
          &:hover {
            background-color: $color-hover;
          }                  
        }        
      }
    }
  }   
}

@include breakpoint(desktop) {
  .main-nav {    
    ul {      
      li {
        padding: 0 $margin-lg;
      }
    }
  }
}

@include below-breakpoint(tablet) {
  .main-nav {
    display: none;    
    &.visible {
      display: block;
    }
  }
}