// Colours
$color-default: #202124;
$color-text: $color-default;
$color-text-secondary: #414042;
$color-brand:#EF6C00;
$color-secondary: #288ECE;
$color-hover: darken($color-brand,10%);
$color-border: $color-secondary;
$color-border-secondary: #D6D6D6;

// Font family
$font-family-default: "Roboto", Helvetica, Arial, sans-serif;
$font-family-header: "Montserrat", Helvetica, Arial, sans-serif;

// Font zize
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-default: 17px;
$font-size-lg: 22px;

// Spacing
$margin-sm: 4px;
$margin-default: 8px;
$margin-md: 12px;
$margin-lg: 16px;
$margin-xl: 32px;


// Screen widths
$width-desktop: 992px;
$width-tablet: 768px;